var wordList = getWordsFromRuby();
var firstWord = _.first(wordList);


refreshFlashCard(firstWord);



var startButton = $('#startFlashCardButton');
startButton.fadeOut(50);

var pauseButton = $("<button id = 'pauseButton'>Pause</button>");
  pauseButton.fadeIn(300);
  pauseButton.appendTo('#container');
  pauseButton.click(function(){
    alert("pause test");
}); 


function getWordsFromRuby() {
  var _wordsList;

  $.ajax({
    url: '/lists/<%=@list.id%>',
    method: 'get',
    dataType: 'json',
    async: false,
    success: function(data){
      _wordsList = data;
    }
  })

  return _wordsList;
};


function returnNewWord(){

  
    console.log(wordList.length);

    if (wordList.length == 0) {
      makeTestResultsAppear();
    } else {
    wordList = _.shuffle(wordList);
    return wordList.pop(); 
    }

};



function submitAnswer(realAnswer){
  
  storeAnswer(realAnswer);
  var newWord = returnNewWord();
  refreshFlashCard(newWord);
  
};

function refreshFlashCard(newWord){

console.log(newWord);
var flashCard = $("<div class='flashCard'></div>");
var kanji = newWord.kanji;
var kana = newWord.kana;
var english = newWord.english;


flashCard.append("<p id='flashCardKanji'>" + kanji + "</p>");
flashCard.append("<p id='flashCardKana'>" + kana + "</p>");
flashCard.append("<p id = 'englishAnswer'>" + english + "</p>");

var englishAnswer = $("<p id = 'englishAnswer'>" + english + "</p>");

var newAnswerButton = $("<button id = 'newAnswerButton'>Next</button>");
newAnswerButton.appendTo(flashCard);

var passButton = $("<button id = 'passButton'>Pass</button>");
passButton.appendTo(flashCard);

console.log(kanji);
flashCard.fadeIn(500);
flashCard.appendTo('#container');


var realAnswer= englishAnswer.text();


newAnswerButton.click(function() {
      submitAnswer(realAnswer);
  });

};

function storeAnswer(realAnswer){
  var userAnswer = $('#flashCardInputBox').val(); 
  
    $.ajax({
      url: '/lists/<%=@list.id%>/test',
      method: 'post',
      data: {
        flashCardInput: userAnswer, 
        flashCardAnswer: realAnswer
      },
      dataType: 'json'
    }).done(function(data){
      console.log(data);
    });

    var flashCard = $(".flashCard");
    flashCard.hide();

};

function makeTestResultsAppear() {
  var testResults = $('<div id = "testResults"></div>');
  var finishedButton = $('<%= link_to "Finished!", "/lists/#{@list.id}", :method => :get, :class => 'button'  %>')
  finishedButton.appendTo(testResults);
  testResults.appendTo('#container');

}








