var wordList;
var amountCorrect = 0;
var amountOfWords;

var startButton = $('#startTestButton');
  startButton.detach();

var graphicContainer = $("<div class= 'column graphicContainer'></div>");
  graphicContainer.appendTo('#container');
  

function getWordsFromRuby() {
  $.ajax({
    url: '/lists/<%=@list.id%>',
    method: 'get',
    dataType: 'json',
    async: false,
    success: function(data){
      wordList = data;
      amountOfWords = data.length;
    }
  })
  takeTest();
};


function takeTest(){
  var newFlashCardObj = newFlashCard();
  displayTest(newFlashCardObj);
};


function newFlashCard() {
    if (wordList.length == 0) {
      makeTestResultsAppear();
    } else {
      wordList = _.shuffle(wordList);
      return wordList.pop(); 
    }
};


function displayTest(newFlashCardObj) {
  var newFlashCardObj = newFlashCardObj;
  var flashCard = $("<div class='flashCard'></div>");
  var kanji = newFlashCardObj.kanji;
  var kana = newFlashCardObj.kana;
  var englishAnswer = newFlashCardObj.english;

  flashCard.append("<p id='flashCardKanji'>" + kanji + "</p>");
  flashCard.append("<p id='flashCardKana'>" + kana + "</p>");

  var flashCardInputBox = $("<input id='flashCardInputBox' name='answer' autofocus>");
  flashCardInputBox.appendTo(flashCard);

  var newAnswerButton = $("<button id = 'newAnswerButton'>Submit Answer</button>");
  newAnswerButton.appendTo(flashCard);
  flashCard.appendTo('#container');

  $('#flashCardInputBox').focus();

  $('.flashCard').keypress(function(event){
  var keycode = (event.keyCode ? event.keyCode : event.which);
    if(keycode == '13'){
      var userAnswer = flashCardInputBox.val();
      determineAnswerCorrectness(englishAnswer, userAnswer, newFlashCardObj); 
    }

  });

  newAnswerButton.click(function() {
    var userAnswer = flashCardInputBox.val();
    determineAnswerCorrectness(englishAnswer, userAnswer, newFlashCardObj);
  });
};


function determineAnswerCorrectness(englishAnswer, userAnswer, newFlashCardObj) {
  var splitEnglishAnswer = englishAnswer.split(" ");
  console.log(splitEnglishAnswer);
  console.log(newFlashCardObj);

  if (isInArray(userAnswer, splitEnglishAnswer)) {
    $('.flashCard').css('background-color', 'green')
    graphicContainer.html('&#10003;');
    amountCorrect ++;
  } else {
    $('.flashCard').css('background-color', 'red')
    storeAnswer(newFlashCardObj);
    graphicContainer.html('<h1>X</h1>');
  }

  $(".flashCard").detach()

  var nextFlashCardObj = newFlashCard();
  displayTest(nextFlashCardObj);
};


function isInArray(value, array) {
  return array.indexOf(value) > -1;
};


function storeAnswer(newFlashCardObj){
  $.ajax({
    url: '/lists/<%=@list.id%>/test',
    method: 'post',
    data: {
      newFlashCardObj: newFlashCardObj
    },
    dataType: 'json'
  }).done(function(data){
    console.log(data);
  });
};


function makeTestResultsAppear() {
  var testResults = $('<div id = "testResults"></div>');
  testResults.appendTo('#container');
  var testResultsText = $('<p id = "testResultsText">You answered ' + amountCorrect + ' out of ' + amountOfWords + ' correctly!<p>');
  testResultsText.appendTo(testResults);
  $('<%=link_to "Back to List", @list%>').appendTo(testResults);
  pause();
}



getWordsFromRuby();
start();