console.log("workinggggggggggg");

var startButton = $('#startTestButton');
  startButton.fadeOut(50);

var pauseButton = $("<button id = 'pauseButton'>Pause</button>");
  pauseButton.fadeIn(300);
  pauseButton.appendTo('#container'); 



function startTest(){

  var flashCard = $("<div class = 'flashCard'><p><%=@list.words[0].kanji%></p><p><%=@list.words[0].kana%></p><div>");
  var englishAnswer = $("<div id = 'englishAnswer'><%=@list.words[0].english%></div>");
  var realAnswer= englishAnswer.text();
  flashCard.fadeIn(500);
  flashCard.appendTo('#container');

  var flashCardInputBox = $("<form><input id='flashCardInputBox' name='answer'></form>");
  flashCardInputBox.appendTo(flashCard);

  var submitAnswerButton = $("<button id = 'submitAnswerButton'>Submit Answer</button>");
  submitAnswerButton.appendTo(flashCard);

  pauseButton.click(pauseTest);
  submitAnswerButton.click(function() {
    submitAnswer(realAnswer);
  });

 
  
}


function pauseTest(){
  alert("pause test");
}

function submitAnswer(realAnswer){
  var flashCard = $(".flashCard");
  
  
  

  storeAnswers(realAnswer);
  startTest();
}

function storeAnswers(realAnswer){
  var userAnswer = $('#flashCardInputBox').val(); //this works
  var actualAnswer = ($('#englishAnswer').text()); //this is actually where I want to reference the english word

console.log(realAnswer);

  $.ajax({
    url: '/lists/<%=@list.id%>/test',
    method: 'post',
    data: {
      flashCardInput: userAnswer, //where is this actually posting to
      flashCardAnswer: actualAnswer
    },
    dataType: 'json'
  }).done(function(data){
    console.log(data);
  });

  var flashCard = $(".flashCard");
  flashCard.hide();
}










startTest();