<body onload="show();">
  <div class = "medium-2 medium-offset-10 timer-container">
    <h1>Time</h1> <div id="time"></div>
  </div>
</body>

<%= link_to "Start Test", "/lists/#{@list.id}/test", :id => "startTestButton", :method => :get, :class => 'button', :remote => true  %>