<%= link_to "Flash Card", "/users/#{@user.id}/practice_words/flash_card", :method => :get, :class => 'button'  %>
<%= link_to "Test List", "/users/#{@user.id}/practice_words/test", :method => :get, :class => 'button'  %>


<section id="word-results" class="large-12 columns"></section>

  
  <h2>Practice Words</h2>
  <section id="list-words-display" class="large-12 columns">
  <ul>
    <% @practice_words.reverse.each do |word| %>
      <%= render word %>
    <% end %>
  </ul>


</section>







