
<% if current_user %>
<h1>welcome to tangochan <%= current_user.name %></h1>
  <%= render 'user_sidebar' %>
<% end %>



<% if current_user == nil %>
  <%= render "nouser" %>
<% end %>


  <!-- Footer -->

  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>© HAMCo International</p>
        </div>
        <div class="large-6 columns">
      <!--     <ul class="inline-list right">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul> -->
        </div>
      </div>
    </div>
  </footer>
