<% @results.each do |r| %>
  var word = $("<div><%=j r.english %></div>").fadeIn(500);
  console.log("<%=j r.english %>");
  word.addClass("show-word");
  word.appendTo("#word-results");
<% end %>




