#list-words-display{
  // width: 1000px;
}
.show-word{
  border: solid 1px #CCC;
  box-shadow: 5px 10px 10px 5px #888888;
  margin: 0 auto;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 50px;
  width: 100%;
  height: auto;
  display: block;
}

#word-results .show-word {
  // display: inline;
  float: left;
  width: 300px;
}


.kanji strong{
  font-size: 36px;
}

.show-word p, {
  font-size: 22px;
  text-align: center;
  padding: 3px;
  margin: 5px;
}

.show-word .j {
  float: left;
}

.show-word .e {
  float: left;
  max-height: inherit;
  padding-left: 30px;
  display: block;
}

.word-buttons{
  display: block;
  // float: left;
  width: 100px;

}

.tweet{
  width: 400px;
  float: right;
}

.search-result .button {
  margin: 0 auto;
  text-align: center;
}

.flashCard {
  border: solid 10px #000;
  width:600px;
  height:300px;
  text-align: center;
  padding: 20px;
  margin: 100px auto;
}

.flashCard p {
  font-size:24px;
  font-weight: bold;
}

#submitAnswerButton {
  margin-top: 20px;
}

#newAnswerButton {
  margin-top: 20px;
}

#testResults {
  border: solid 10px #000;
  width:600px;
  height:300px;
  text-align: center;
  padding: 120px;
  margin: 100px auto;
  font-size: 36px;
}

#englishAnswer {
  font-size:24px;
  font-weight: bold;
}

#flashCardEnglish {
  font-size:24px;
  font-weight: bold;
}

#gotRightResults {
  font-size:24px;
  font-weight: bold;
}
#word-results{
  display: block;
  height: auto;
}
