// users CSS

#user-profile{
  max-width: 40%;
  float: left;
  margin: 20px;
  padding: 50px;
}

#user-actions{
  float: right;
  width: 350px;
  margin: 20px;
  padding: 50px;
}

#user-image{
  max-height: 400px;
  float: left;
}


.button .new-list{

}
