// users CSS

#user-profile{
  max-width: 40%;
  float: left;
  margin: 20px;
  padding: 50px;
}

#user-actions{
  float: right;
  max-width: 40%;
  margin: 20px;
  padding: 50px;
}

.button .new-list{

}
